{% extends "base.html" %}
{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

{% block body_class %}surgery-index-page{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


{% if doctor %}
<div class="container py-4">
  <h2>{{ doctor }}</h2>
  <p class="lead">{{ doctor.bio|richtext }}</p>
  <hr>
  <h3>Specialization:</h3>
  <ul>
  {% for specialization in doctor.specializations.all %}
     <li>{{ specialization.name }}</li>
  {% endfor %}
  </ul>
  <h3>Surgery:</h3>
  <h4>{{ doctor.surgery }}</h4>
  <p>{{ doctor.surgery.address }}</p>
</div>


{% endif %}

{% endblock content %}