{% extends "base.html" %}
{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

{% block body_class %}surgery-index-page{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<div class="container">
{% if surgeries %}
  {% for surgery in surgeries %}
    <h2>{{ surgery.surgery_name }}</h2>
    <h4>ADDRESS:</h4>
    <p>{{ surgery.address}}</p>
    <p>{{ surgery.city }}</p>
    <h4>DOCTORS:</h4>
    <ul>
      {% for doctor in surgery.doctors.all %}
        <li><strong>{{ doctor.first_name }} {{ doctor.surname}}</strong></li>
        {% for specialization in doctor.specializations.all %}
          <p>{{ specialization.name }}</p>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
</div>

{% endblock content %}
