{% extends "base.html" %}
{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

{% block body_class %}surgery-index-page{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


{% if surgeries %}
<div class="container my-4">
  <div class="row">
    {% for surgery in surgeries %}
    <div class="col-6 p-4">
      <div class="card h-100 shadow p-3">
        <div class="card-body">
          <h2 class="text-primary card-title">{{ surgery.surgery_name }}</h2>
          <h3 class="text-secondary lead">ADDRESS:</h3>
          <br>
          <p class="card-text">{{ surgery.address }}</p>
          <p class="card-text">{{ surgery.city }}</p>
          <div class="card-body">
            <h3 class="text-secondary lead">DOCTORS:</h3>
            <ul>
            {% for doctor in surgery.doctor_set.all %}
              <li><strong>{{ doctor.first_name }} {{ doctor.surname}}</strong></li>
              {% for specialization in doctor.specializations.all %}
                <p>{{ specialization.name }}</p>
              {% endfor %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock content %}
