.section{
  padding-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f2f2f2;
}

.hero {
  padding: 90px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 800px) {
  .hero {
    padding: 60px;
  }
}

@media (max-width: 460px) {
  .hero {
    padding: 25px;
  }
}