{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
{% endblock extra_css %}

{% block content %}

<!-- Set the main image (original size) for this page as an accessible 'tmp_image' -->
{% image page.main_image original as tmp_image %}

<!--- Hero Image --->
<div class="hero container-fluid bg-r" 
style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url({{ tmp_image.url }});">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-sm-10 col-md-8 text-center text-sm-left">
        <h1 class="text-white">{{ page.intro }}</h1>
        <p class="lead text-white">Get your appointment booked with us today!</p>
        <p class="mt-4">
          <a class="border border-white btn btn-secondary mr-4 mt-2" href="">Find a surgery</a>
          <a class="border border-white btn btn-primary mr-4 mt-2" href="">Meet our doctors</a>
        </p>
      </div>
    </div>
  </div>
</div>


<!--- Specializations --->
<div class="section">
  <div class="container text-center">
    <h1>Our Specializations</h1>
      <div class="row">
        {% for medical_specialization in medical_specializations %}
          <div class="col-sm-10 col-md-6 col-lg-4 py-3">
            <h4>{{ medical_specialization.name }}</h4>
            {{ medical_specialization.description|richtext }}
          </div>
        {% endfor %}
      </div>
  </div>
</div>

<!--- Doctors --->
<div class="section">
  <div class="container text-center">
    <h1>Our Doctors</h1>
      <div class="row">
        {% for doctor in doctors %}
          <div class="col-sm-10 col-md-6 col-lg-4 py-3">
            <h4>{{ doctor }}</h4>
            <a href="{% url 'surgeries:doctor_detail' doctor.slug %}">
              <p class="text-primary"><strong>Learn more >></strong></p>
            </a>
            {{ doctor.bio|richtext }}
          </div>
        {% endfor %}
      </div>
  </div>
</div>

{% endblock content %}
